.buttonsHome {
  display: flex;
  gap: 20px;
}


.body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* position: relative; */
}

.body__title,
.body__subtitle,
.buttonsHome {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  /* position: relative; */
}

.body__title {
  font-size: 3.5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  margin-bottom: 10px;
}
.body__subtitle {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-family: "Libre Baskerville", serif;
}


.btn-outline-primary {
  color: #8406c8;
  border-color: #8406c8;
}

.btn-outline-primary:hover {
  background-color: #8406c8;
  border-color: #8406c8;
}

.img {
  width: 370px;
  height: 350px;
  margin: 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.btn-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #9463C6 !important;
  border-color: #9463C6 !important;
  border-radius: 50%;
}

#projects{
  margin-bottom: 50px;
  padding-bottom: 50px;
}

#contact{
  margin-top: 130px;
}


@media screen and (max-width: 1460px) {

  .btn-outline-primary {
    background-color: #8406c8;
    border-color: #8406c8;
    color: #fff;
  }
}
