.bm-overlay {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .bm-menu-wrap {
    position: fixed;
    top:0;
    height: 100%;
  }
  
  .bm-menu {
    background: #40074d;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .cross{
    color: #fff;
  }

  .menuLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .itemMenuLink{
    background-color: transparent !important;
    border: none;
    color: #fff !important;    
  }

  
  .itemMenuLink:hover{
    color: #9463C6 !important;  
    
  }

